body {
  font-size: 13px;
  color: #0061BE;
  font-family: 'arial', sans-serif;
}

#name {
  font-size: 14px !important;

}

#position {
  font-size: 14px !important;
  color: #1FD9C7 !important;
}

a {
  text-decoration: none;
  color: #0061BE;
}
